<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  
<link rel="stylesheet" href="style.css">
</head>
<body>
    <!--navbar-->
    <nav class=" navbar navbar-expand-lg bg-dark navbar-dark py fixed-top">
    <div class="container">
    <a href="#" class='navbar-brand'>OLAOLUWA'S SITE</a>
    <button class="navbar-toggler" type=" button" data-bs-toggle="collapse" data-bs-target="#navmenu">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id= "navmenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link"> WHO AM I</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"> WHAT I DO</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"> QUESTIONS</a>
            </li>
        </ul>
     </div>
     </div>
    </nav>
    <!--navbar--> 


     <!--showcase-->

     <section class="bg-dark text-light p-5 p-lg-0 pt-5 text-center text-sm-start ">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
            <div><h1>BECOME A <span class="text-warning"> WEB DEVELOPER</span></h1>
            <p class="lead my-4">
                we focus on teaching our students the fundamentals of the latest and greatest technologies
                to prepare them for their first dev role.
            </p>
            <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">Start the enrolment</button>
            </div>
            <img class="image-fluid w-50 d-none d-sm-block" src="img/y.svg" alt="image ">
            </div>
        </div>
        
    </section>

    <!--showcase-->

    <!--newsletter-->
    <section class=" bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex align-items-center justify-content-between">
            <h3 class=" mb-3 mb-md-0">Sign up for newsletter</h3>
            
            <div class=" input-group news-input">
                <input type="text" class="form-control" placeholder="Enter Emaill" >
                <button class="btn btn-dark btn-lg" type="button">Button</button>
            </div>
            </div>
        </div>
    </section>
 <!--newsletter-->


<!--boxes-->
<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class=" col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                        <i class="bi bi-laptop"></i>
                        </div>
                        <div class="card-title">
                            Virtual
                        </div>
                        <p class="card-text"> 
                            we attend virtually to all pproblems and we provide swift response 
                        </p>
                        <a href="#" class=" btn btn-primary">Read More</a>
                    </div>
                </div>
                
            </div>
            <div class=" col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                        <i class="bi bi-person-square"></i>
                        </div>
                        <div class="card-title">
                            Hybrid
                        </div>
                        <p class="card-text"> 
                            You can reach out to us and we'd attend to you virtually
                        </p>
                        <a href="#" class=" btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class=" col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                        <i class="bi bi-people"></i>
                        </div>
                        <div class="card-title">
                            In Person
                        </div>
                        <p class="card-text"> 
                            You can reach out to us and we'd attend to you virtually
                        </p>
                        <a href="#" class=" btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--boxes-->

<!--learn-->
<section id="learn" class="p-5">
    <div class=" container">

        <div class=" row allign-items-center justify-content-between">
            <div class="col-md">
                <img src="img/bitcoin.svg" alt="bitcoin" class="image-fluid">
            </div>
            <div class="col-md p-5">
                <h2> We also trade Bitcoin</h2>
                <p class="lead">
                    we are into the buying and selling of both bitcoin and Usdt, we also trade both coin 
                    in the financial market
                 </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore saepe ex sapiente vitae consequatur molestias expedita nam veritatis pariatur iste sint esse sequi, consectetur asperiores facere libero rerum dolorum ut?</p>
                <a href="#" class=" btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Read More</a>
                
            </div>
        </div>
    
    </div>

</section>
<!--learn-->

<section id="learn" class="p-5 bg-dark text-light">
    <div class=" container">

        <div class=" row allign-items-center justify-content-between">
          
            <div class="col-md p-5">
                <h2> Lets work together</h2>
                <p class="lead">
                    we are into the buying and selling of both bitcoin and Usdt, we also trade both coin 
                    in the financial market
                 </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore saepe ex sapiente vitae consequatur molestias expedita nam veritatis pariatur iste sint esse sequi, consectetur asperiores facere libero rerum dolorum ut?</p>
                <a href="#" class=" btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Read More</a>
                
            </div>
            <div class="col-md">
                <img src="img/passing.svg" alt="bitcoin" class="image-fluid">
            </div>
        </div>
    
    </div>
</section>
<!-- question accordion-->
<section class="p-5" id="question">
<div class="container">

    <h2 class=" text-center mb-4"> Frequently asked questions</h2>
    <div class="accordion accordion-flush" id="questions">
        <!--item 1-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-One" >
              where are you located?
            </button>
          </h2>
          <div id="question-One" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
        <!--item 2-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two" >
                How much does it cost?
              </button>
            </h2>
            <div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
        <!--item 3-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three" >
                How do i sign up?
              </button>
            </h2>
            <div id="question-three" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four" >
                Will you help me find a job?
              </button>
            </h2>
            <div id="question-four" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
      </div>

    
</div>
</section> 
<!--question accordion-->



<!--instructors-->
<section id="instructors" class=" p-5 bg-primary">
<div class="container">
    <h2 class="text-center text-white"> Our Instructors</h2>
    <p class=" lead text-center text-white mb-5 "> Our instructors all have 5+ years experience working as a web developer
        in the industry
    </p>
    <div class=" row g-4">
    
    <div class=" col-md-6 col-lg-3">
        <div class=" card bg-light">
        <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/men/85.jpg" class="rounded-circle mb-3" alt=" taiwo">
            <h3 class="card-title mb-3"> Jaden Smith</h3>
            <p class=" card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore saepe ex sapiente vitae consequatur molestias expedita nam veritatis pariatur iste sint esse sequi, consectetur asperiores facere libero rerum dolorum ut? </p>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter text-dark mx-1 " viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook text-dark" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg></a>
        </div>
    </div>
    </div>

    <div class=" col-md-6 col-lg-3">
        <div class=" card bg-light">
        <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/men/83.jpg" class="rounded-circle mb-3" alt=" taiwo">
            <h3 class="card-title mb-3"> Justin Beiber</h3>
            <p class=" card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore saepe ex sapiente vitae consequatur molestias expedita nam veritatis pariatur iste sint esse sequi, consectetur asperiores facere libero rerum dolorum ut? </p>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter text-dark mx-1 " viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook text-dark" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg></a>
        </div>
    </div>
    </div>
    <div class=" col-md-6 col-lg-3">
        <div class=" card bg-light">
        <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/women/65.jpg" class="rounded-circle mb-3" alt=" taiwo">
            <h3 class="card-title mb-3"> Helen Mccroy</h3>
            <p class=" card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore saepe ex sapiente vitae consequatur molestias expedita nam veritatis pariatur iste sint esse sequi, consectetur asperiores facere libero rerum dolorum ut? </p>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter text-dark mx-1 " viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook text-dark" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg></a>
        </div>
    </div>
    </div>
    <div class=" col-md-6 col-lg-3">
        <div class=" card bg-light">
        <div class="card-body text-center">
            <img src="https://randomuser.me/api/portraits/men/90.jpg" class="rounded-circle mb-3" alt=" taiwo">
            <h3 class="card-title mb-3"> Tyler Hoechlin</h3>
            <p class=" card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore saepe ex sapiente vitae consequatur molestias expedita nam veritatis pariatur iste sint esse sequi, consectetur asperiores facere libero rerum dolorum ut? </p>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter text-dark mx-1 " viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook text-dark" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg></a>
        </div>
    </div>
    </div>

    </div>
</div>

</section>

<!--instructors-->

<!--contact & map-->
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class=" col-md">
                <h2 class="text-center mb-4 "> Contact Info</h2>
                <ul class=" list-group  list-group-flush lead">
                    <li class="list-group-item"><span class="fw-bold">Main Location: </span> 16, houson wright ikeja </li>
                    <li class="list-group-item"><span class="fw-bold">Email Address: </span> <a href="#">alobaoluwa@gmail.com</a> </li>
                    <li class="list-group-item"><span class="fw-bold">Phone Numbers: </span> 081012491173,08071113892</li>
                    
                </ul>
            </div>
            <div class="col-md">
            <div id="map"></div>

            </div>


        </div>

    </div>



</section>


<!-- contact & map-->
<!--footer-->
<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Olaoluwa site</p>
      <a href="#"class=" position-absolute bottom-0 end-0 p-5"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle h1" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
      </svg></a>
    

    </div>

</footer>





<!--footer-->

<!-- Modal -->
<div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Let's get to know you.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fill out this form and we will get back to you.</p>
          <form method="POST">
             <div class="mb-3">
                <label for="firstname" class="col-form-label">First name:</label>
                <input  type="text" class="form-control" id="firstname">
             </div>
             <div class="mb-3">
                <label for="lastname" class="col-form-label">Last name:</label>
                <input  type="text" class="form-control" id="lastname">
             </div>
             <div class="mb-3">
                <label for="email address" class="col-form-label">Email address:</label>
                <input  type="email" class="form-control" id="email address" required>
             </div>
             <div class="mb-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
          </form>

        </div>
      </div>
    </div>
  </div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWxvYmFvbHV3YSIsImEiOiJjbDR5NDdiYWwwY2g4M2NxZmw4bnplbTJ3In0.JY4L3SvJCiwo7BqMOg3Fcw';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [9.081999, 8.675277],
    zoom: 18,
    });
    </script>  
</body>
</html>